body,html{
	width:100%;
	height:100%;
	overflow-y: hidden;
}
body{
	background:url(../img/bg1.png);
	background-size:100% 100%;
}
#choice{
	position:absolute;
	top:5%;
	right:3%;
	width:200px;
	height:350px;
}
#yin{
	position:absolute;
	bottom:5%;
	right:3%;
	width:120px;
	height:120px;
}
#main{
	position:absolute;
	height: 55%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#poem{
	position:absolute;
	top: 5%;
	left:3%;
	width:500px;
	height:220px;
	opacity: 0.7;
}
#poem img{
	position: absolute;
	display: block;
	opacity: 0;
}
.yinpic{
	display: block;
	position: absolute;
	width:100%;
}
#name{
	opacity:0;
}
#choice ul{
	display: block;
	margin:0px;
	padding: 0px;
	width:100%;
	height: 100%;
}
#choice ul li{
	display: block;
	width:100%;
	height: 20%;
}

/*line*/
.line{
	display: none;
	width:140px;
	height:70px;
	background-size:280px 50px;
	background-position:0px 0px;
	animation:lineshow 300ms;
	-moz-animation:lineshow 300ms;
	-webkit-animation:lineshow 300ms;
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

/*for 4 line*/
.line0{
	background:url(../img/linexunmeng.png) no-repeat;	
}
.line1{
	background:url(../img/line_jiangshang.png) no-repeat;
	
}
.line2{
	background:url(../img/line_mingyue.png) no-repeat;	
}
.line3{
	background:url(../img/linemengduan.png) no-repeat;	
}
.line4{
	background:url(../img/line_huaigu.png) no-repeat;
}
/*for 4 line over*/



.smallcirlce{
	display: inline-block;
	float: right;
	width:50px;
	transition: transform 300ms;
	-moz-transition: transform 300ms;
	-webkit-transition: transform 300ms;
}
.smallcirlce:hover{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);		
	-webkit-transform: rotate(90deg);	
	-o-transform: rotate(90deg);		
	-moz-transform: rotate(90deg);
}

#main img{
	height: 100%;
}
.cbt{
	animation:cbtshow 300ms;
	-moz-animation:cbtshow 300ms;
	-webkit-animation:cbtshow 300ms;
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
#cbt {
	display: none;
	position: absolute;
	bottom:0px;
	left:20px;
	width:15%;
	height:15% !important;
}
.ropic{
	position: absolute;
	top:0px;
	left: 0px;
	z-index: -1;
}
.ropicing{
	display: none;
	animation:ropic 30s;
	-moz-animation:ropic 30s;
	-webkit-animation:ropic 30s;
	animation-play-state: running;
	-moz-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-timing-function: linear;
	-moz-animation-timing-function:linear;
	-webkit-animation-timing-function: linear;	
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}
@keyframes lineshow
{
	from {background-position:0px 0px;}
	to {background-position:-140px 0px;}
}
@keyframes ropic{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes cbtshow{
	from{opacity: 0;}
	to{opacity: 1;}
}







































