body{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.pic{
	display: inline-block;
	-webkit-perspective : 2000;
    -moz-perspective : 2000;
    perspective-origin: 50%;0%;
}
.nav-bar{
	padding: 0px;
	width: 100%;
	perspective : 2000;
	background-color: gainsboro;
	word-spacing: -6px;
    overflow:visible;
}
.button{
	display: inline-block;
	padding: 0px;
	padding-left: 5px;
	word-spacing: 0px;
	border-right: 1px solid white;
	width:150px;
	height:50px;
	margin: 0px;
	background: lightgreen;
	transition: all 0.3s;
}
.button:hover{
	width:300px;
}
.rotateblock{
	position: absolute;
	width:150px;
	height:250px;
	background: cornflowerblue;
	transform-origin: 0% 0%;
	display: none;
}
.rotate{
	display:block;
	width:300px;
	animation:rotate 0.5s;
    -webkit-animation : rotate 0.5s;
    -moz-animation : rotate 0.5s;
}
.logo{
	width:220px;
	max-height:50px;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
	}
.bgcar{
	position: absolute;
	top:-50px;
	left:0px;
	z-index: -10;
}
.prevpic{
	position:absolute;
	left:0px;
	top:52%;
	width:48px;
	height: 48px;
	transform: rotate(0deg);
	background-image: url(img/prev.png);
	margin-left:15px;
	transition: transform 0.5s;
}
.nextpic{
	position:absolute;
	right:0px;
	top:52%;
	width:48px;
	height: 48px;
	transform: rotate(0deg);
	background-image: url(img/next.png);
	margin-right:15px;
	transition: transform 0.5s;
}
.nextpic:hover{
	transform: rotate(360deg);
}
.prevpic:hover{
	transform: rotate(360deg);
}
@keyframes rotate{
    0%{
        transform: rotateX(90deg);       
    100%{
    	transform: rotateX(0deg);
    
    	}
	}
}
